/* stylelint-disable linebreaks */

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap') ;

body {
  background-attachment: local;
  background-image: url('../imgs/background.jpg');
  background-size: cover;
}

.login {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  width: 100%;
}

.imgTrivia {
  padding-bottom: 10px;
  width: 300px;
}

.loginBox {
  align-content: center;
  align-items: center;
  background-color: rgba(93, 93, 93, 0.246);
  border: 4px solid rgb(140, 0, 70);
  border-radius: 15px;
  box-shadow: 0 0 0.2rem #c04775 , 0 0 0.8rem #8d005c , 0 0 2.8rem #8d005c;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  width: 400px;
}

.loginBox input {
  background-color: rgba(238, 238, 238, 0.942);
  border: white 1px solid;
  border-radius: 5px;
  font-family: Kanit , sans-serif;
  height: 24px;
  margin-bottom: 10px;
}

.configBtn {
  background-color: rgba(255, 255, 255, 0.815);
  border: 2px solid rgba(222, 2, 112, 0.597);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.412);
  color: rgb(3, 3, 3);
  font-family: Kanit , sans-serif;
  height: 28px;
  margin-bottom: 10px;
}

.playBtn {
  background-color: rgba(255, 255, 255, 0.815);
  border: 2px solid rgba(222, 2, 112, 0.597);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.412);
  color: rgb(3, 3, 3);
  font-family: Kanit , sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  margin-bottom: 10px;
  width: 98px;
}
